@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #85765a;
  --secondary: #e7dcd1;
  --brand-bg: #f0eae3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-brand-bg: var(--brand-bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Greed Condensed-TRIAL";
  src: url("../public/fonts/GreedCondensed-Medium.woff2") format("woff2"),
    url("../public/fonts/GreedCondensed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saans-TRIAL";
  src: url("../public/fonts/Saans-Medium.woff2") format("woff2"),
    url("../public/fonts/Saans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.para-fs-19 {
  font-family: "Greed Condensed-TRIAL";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.aie-container aie-footer {
  display: none !important;
}
